/* Seat.css */
.seat {
    width: 20px;  /* Ajuster cette valeur selon les besoins */
    height: 20px;  /* Ajuster cette valeur selon les besoins */
    margin: 2px;  /* Espace entre les sièges */
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .seat.available {
    background-color: #00FF00;  /* Vert pour disponible */
  }
  
  .seat.selected {
    background-color: #0000FF;  /* Bleu pour sélectionné */
  }
  
  .seat.unavailable {
    background-color: #A9A9A9;  /* Gris pour indisponible */
  }
  
  .seat.invisible {
    background-color: #A9A9A9;  /* Gris pour indisponible */
    opacity: 5;
  }